<section class="card login">
    
    <form name="myform" novalidate="" ng-submit="login()">
        <div class="textintro">
            <h1>hi there</h1>
            <p>log-in to see your profile!</p>
            <p class="message" ng-show="message">{{message}}</p>
            <p class="error validationerror" ng-show="invalidmessage">{{invalidmessage}}</p>
        </div>
        <fieldset>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
             <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Email must be valid</p>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
        <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.password.$touched">
      Password is required</p>
        </fieldset>
        <button type="submit" class="btn" ng-disabled="myform.$invalid">Login</button>
        <p ng-hide="authenticated">or <a ng-href="#/register">Register</a></p>
    </form>
</section>